// Definerer SCSS-variabler for farger som skal brukes på nettstedet

$kampanje: #52d3f0;
$knapp: #ffcf40;
$merk: #1ca2c1;
$meny: #027792;
$footer: #252525;
$score: #019101;
$grå: #e8e8e8;
$lys: #f6f5f2;
$svart: #000000;
$hvit: #ffffff;
$fav: #ff0000;

.globalHead {
    .bruker a {
        color: $meny;
    }
}

#soek {
    background-color: $hvit;
    nav {
        a {
            color: $svart;
        }
        .current {
            color: $merk;
        }
    }
}

#kampanje {
    article {
        background-color: $kampanje;
    }
}

#tilbud {
    a {
        color: $merk;
    }
}

.tag {
    background-color: $merk;
    color: $hvit;
}

.score {
    color: $hvit;
    background-color: $score;
}

.btn {
    background-color: $knapp;
    color: $svart;
}

.forrige, .neste, .antall {
    background-color: $svart;
    opacity: 50%;
    color: $hvit;
}

.fav {
    background-color: white;
    color: red;
}

#smulemeny {
    background-color: $merk;
    * {
        color: $hvit;
    }
}

#oversikt, #hotellValg {
    li {
        color: $knapp;
    }
}

#sticker {
    background-color: $hvit;
    button {
        background-color: $merk;
        color: $hvit;
    }
}

ins {
    color: $fav;
}

footer {
    background-color: $footer;
    * {
        color: $hvit;
    }
}