// Definerer SCSS-variabler for farger som skal brukes på nettstedet

$kampanje: #52d3f0;
$knapp: #ffcf40;
$merk: #1ca2c1;
$meny: #027792;
$footer: #252525;
$score: #019101;
$grå: #e8e8e8;
$hvit: #f6f5f2;
$svart: #000000;

