@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Definerer Montserrat som en SCSS-variabel for hovedfonten
$mainFont: "Montserrat", sans-serif;

html {
    font-size: calc(1em + 1vw); 
}

body {
    font-family: $mainFont;
}

.pris, .review, .score, .btn, .tag, ins, legend, label, .current {
    font-weight: bold;
}

label {
    font-size: small;
}