@import 'color';

.btn {
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    padding: 0.5em;
    height: fit-content;
    width: fit-content;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a, ins {
    text-decoration: none;
}

ul, summary {
    list-style: none;
}

#oversikt {
    ul li {
        display: inline-block;
    }
}

article {
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
    box-shadow: 5px 5px 10px $grå;
    p {
        display: inline-block;
    }
}

input, select {
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.forrige, .neste, .fav {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.antall {
    width: fit-content;
    height: auto;
    border-radius: 10px;
}

.forrige, .neste, .fav, .antall {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#sticker {
    border-radius: 15px 15px 0 0;
    box-shadow: 5px 5px 10px $grå;
    padding: 10px;
    #velgRom {
        width: fit-content;
        height: auto;
        padding: 10px;
        border: none;
        border-radius: 15px;
    }
}

.tag {
    border-radius: 0 0 15px;
}