@import 'color';

.btn {
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    padding: 0.5em;
    height: fit-content;
    width: fit-content;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tilbud article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

a, ins {
    text-decoration: none;
}

ul, summary {
    list-style: none;
}

li {
    display: inline-block;
}

article {
    border-radius: 15px;
    overflow: hidden;
}

input, select {
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.forrige, .neste, .fav {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.antall {
    width: fit-content;
    height: auto;
    border-radius: 10px;
}

.forrige, .neste, .fav, .antall {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}